<!DOCTYPE html>
<html>

<head>
    <title>{%block title%}{%endblock%}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oranienbaum" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Text+Me+One" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet"> 
    <!-- <link rel="stylesheet" href="style.css"> -->
    <style>
        * {
            margin : 0;
            padding : 0;
            outline: none;
        }
        html,* {
            box-sizing: border-box;
        }
        *, *:before, *:after {
            box-sizing: inherit;
            font-family: 'Slabo 27px', serif;
        }
        body {
            font-size: 16px;
        }
        th,td {
            vertical-align: top;
            text-align: left;
        }
        .home-link-a {
            font-size: 4rem;
            font-family: 'Oranienbaum', serif;
        }
        .link-set * {
            font-size: 1.8rem !important;
            font-family: 'Text Me One', sans-serif;
        }
    </style>
    {% block headscript %}
    {% endblock %}
    {%block headstyle%}
    {%endblock%}
    {%block headcontent%}
    {%endblock%}
</head>

<body>
    <div id="top-div">
        {%block content%}
        {%endblock%}
    </div>
    {% block bodyscript %}
    {% endblock %}
</body>

</html>
