{% extends "base2.html" %}
{% load static %}
{%block title%}LootMarket - Service{%endblock%}
{%block headstyle%}
<style>
.top-header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 6;
    height: 140px;
    background: linear-gradient(180deg, rgb(211, 182, 221) 0%, #afb4d2 100%);
}

.header-content {
    width: 85%;
    position: absolute;
    height: 140px;
    padding-top: 20px;
}




.home-link {

    display: flex;
    position: relative;
}

.ull {
    flex: 1;
    margin: 0 auto;
}

.home-link-a,
.home-link-a:visited {
    width: 294px;
    margin: 0 auto;
    display: block;
    list-style: none;
    font-size: 2.8rem;
    color: white;
    text-align: center;
    text-decoration: none;
}



.glob-links {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: #000000cc;
    display: block;
}

.close-bar {
    width: 60px;
    color: white;
    font-size: 3rem;
    position: fixed;
    left: 20px;
    top: 10px;
    cursor: pointer;
}

.llinks {
    margin-top: 100px;
}

.link-set,
.link-set * {
    text-align: center;
    text-decoration: none;
    color: white;
    /*margin: 10px 0;*/
}

.link-set {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.link-set>li {
    /*margin: 10px;*/
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    display: block;
}

.link-set a,
.link-set a:visited {
    position: relative;
    height: 100%;
    width: 30%;
    color: white;
    padding-bottom: 15px;
    display: inline;
    text-align: center;
    text-decoration: none;
}

.link-set a::before {
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    content: "";
    position: absolute;
    transition: 0.1s height;
    background-color: white;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.link-set a:hover::before {
    height: 5px;
}

.side-right {
    flex-direction: row-reverse;
    margin-left: auto;
}

@media only screen and (min-width: 450px) {
    .home-link-a {
        font-size: 4rem !important;
    }

    .close-bar {
        font-size: 4em;
    }
}

@media only screen and (min-width: 1000px) {

    .glob-links,
    ..glob-links * {
        all: initial;
    }

    .home-link {
        width: 350px;
        margin: 0 auto;
        z-index: 6;
    }

    .glob-links {
        position: absolute;
        background-color: #00000000;
        width: 100%;
        height: 90px;
        overflow: inherit;
    }

    .close-bar {
        display: none;
    }

    .llinks {
        display: flex;
        flex-flow: row nowrap;
        position: absolute;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        align-content: stretch;
    }

    .link-set {
        display: flex;
        list-style: none;
        align-items: stretch;
        justify-content: flex-start;
        flex-flow: row nowrap;
        width: 21%;
        margin-top: 10px;
    }

    .link-set>li {
        flex-basis: 140px;
        margin: 0 10px;
        height: 51px;
        margin-top: 9px;
        position: relative;
    }

}
</style>
<style>
.details {
    z-index: -1;
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("{% static "Purchase/pic3.jpg" %}") fixed no-repeat center center;
    background-size: cover;
    display: block;
    /*overflow-x: hidden;*/
    overflow-y: scroll;
}

/*
.details::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
*/
.payu {
    background: #afb4d299;
    z-index: 2;
    display: flex;
    width: 100%;
    min-height: calc(100vh - 140px);
    flex-direction: column;
}

.det-content {
    background: #ffffffcc;
    position: relative;
    width: auto;
    margin: 30px;
    padding: 20px;
    height: 400px;
}

.box {
    width: 100%;
    height: 100%;
}

.det-content>div {
    line-height: 1.5em;
    text-align: center;
    /*height: 600px;*/
}

.name {
    line-height: 1em;
    font-size: 2.8em;
}

.pm-button {
    position: absolute;
    bottom: 0;
    left: calc(50% - 115px / 2);
}

@media only screen and (min-width: 540px) and (max-width:1000px) {
    .det-content {
        width: 480px;
        margin: 30px auto;
    }
}

@media only screen and (min-width: 1000px) {
    .payu {
        flex-direction: row;
        justify-content: center;
    }

    .det-content {
        width: 480px;
        margin: 30px 10px;
    }
}
</style>
{%endblock%}
{%block content%}
<header class="top-header">
    <nav class="header-content">
        <div class="home-link">
            <div class="ull">
                <a href="{% url 'Home:home'%}" class="home-link-a">LootMarket</a>
            </div>
        </div>
        <div class="glob-links">
            <span class="close-bar">&#9776;</span>
            <div class="llinks">
                <ul class="link-set side-left">
                    <li><a href="{% url 'Product:listitemsearch'%}?qry=">Listings</a></li>
                </ul>
                <ul class="link-set side-right">
                    {% if user.is_authenticated%}
                    <li><a href="{% url 'USER:profile'%}">Profile</a></li>
                    <li><a href="{% url 'USER:logout'%}">Logout</a></li>
                    {%else%}
                    <li><a href="{% url 'USER:login'%}">Login</a></li>
                    <li><a href="{% url 'USER:register'%}">Register</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--  -->
<div class="details">
    <div class="payu">
        <div class="det-content bb1">
            <div class="box">
                <h1 class="name">Monthly Plan</h1>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo recusandae amet, obcaecati minima voluptatum quidem cumque pariatur saepe alias debitis! Beatae amet dignissimos vero dolor sequi in laborum voluptates obcaecati?</div>
                <div class='pm-button'>
                    {% if user.is_authenticated%}
                    <a href='https://www.payumoney.com/paybypayumoney/#/D6B2AE159365B4FBA9299C3863D9E6ED'>
                    {%else%}
                    <a href="{% url 'USER:login'%}?returnto=service">
                    {%endif%}
                    <img src='https://www.payumoney.com/media/images/payby_payumoney/new_buttons/21.png' /></a>
                </div>
            </div>
        </div>
        <div class="det-content bb2">
            <div class="box">
                <h1 class="name">Pro Plan</h1>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo recusandae amet, obcaecati minima voluptatum quidem cumque pariatur saepe alias debitis! Beatae amet dignissimos vero dolor sequi in laborum voluptates obcaecati?</div>
                <div class='pm-button'>
                    {% if user.is_authenticated%}
                    <a href='https://www.payumoney.com/paybypayumoney/#/D6B2AE159365B4FBA9299C3863D9E6ED'>
                    {%else%}
                    <a href="{% url 'USER:login'%}?returnto=service">
                    {%endif%}
                    <img src='https://www.payumoney.com/media/images/payby_payumoney/new_buttons/21.png' /></a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{% block bodyscript %}
<script>
$(function() {
    var bOpened = false;
    var bResize = false;
    var hh = $(window).height();
    var ww = $(window).width();

    $(".close-bar").click(function() {
        if (!bOpened) {
            bOpened = true;
            $(".glob-links").animate({
                width: "200px"
            }, 100, "linear");
            $(this).delay(25).animate({
                left: "160px"
            }, 100, "linear").html("&times;");
        } else {
            bOpened = false;
            $(".glob-links").animate({
                width: "0"
            }, 100, "linear");
            $(this).animate({
                left: "20px"
            }, 100, "linear").html("&#9776;");
        }
    });
    $(window).resize(function() {
        var tw = $(window).width();
        var th = $(window).height();
        if (!bResize && tw >= 1000 && ww < 1000) {
            bResize = true;
            $(".glob-links").stop(true, true).css("width", "100%");
            if (bOpened) {
                $(".close-bar").css("left", "30px").html("&#9776;");
                bOpened = !bOpened;
            }
        } else if (bResize && tw < 1000 && ww >= 1000) {
            $(".glob-links").stop(true, true).css("width", "0");
            bResize = false;
        }
        ww = tw;
        hh = th;
    });
});
</script>
{% endblock %}