{% extends "base2.html" %}
{% load static %} 
{%block title%}LootMarket - Edit Profile{%endblock%}

{%block headstyle%}
<style>
     .top-header {
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: center;
        z-index: 6;
        height: 140px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, #e4efcd 100%);
    }
    .header-content {
        width: 85%;
        position: absolute;
        height: 140px;
        padding-top: 20px;
    }
    .header-content a {
        /*text-shadow: 0px 0px 3px black;*/
        /*color: black !important;*/
    }



    .home-link {
        display: flex;
        
        position: relative;
    }
    .ull {
        flex: 1;
        margin: 0 auto;
    }
    .home-link-a,.home-link-a:visited{
        width: 294px;
        margin: 0 auto;
        display: block;
        list-style: none;
        font-size: 2.8rem;
        color: black;
        text-align: center;
        text-decoration: none; 
    }



    .glob-links {
        z-index: 5;
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        overflow-x: hidden;
        background-color: #000000cc;
        display: block;
    }
    .close-bar {
        width: 60px;
        color: black;
        font-size: 2.8rem;
        position: fixed;
        left: 20px;
        top: 10px;
        cursor: pointer;
    }
    .llinks {
        margin-top: 100px;
    }

    .link-set,.link-set * {
        text-align: center;
        text-decoration: none;
        /*margin: 10px 0;*/
    }
    .link-set {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .link-set > li {
        /*margin: 10px;*/
        height: 100%;
        width: 100%;
        margin-bottom: 30px;
        position: relative; 
        display: block;  
    }
    .link-set a,.link-set a:visited {
        position: relative;
        height: 100%;
        /*width: 30%;*/
        display: block;
        color: white;
        padding-bottom: 15px;
        /*display: inline;*/
        text-align: center;
        text-decoration: none;
    }
    .link-set a::before {
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        content: "";
        position: absolute;
        transition: 0.1s height;
        background-color: white;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    .link-set a.bdd::before {
        bottom: -25px;
        height: 0;
        content: "";
    }
    .link-set a:hover::before {
        height: 5px; 
    }
    .side-right {
        flex-direction: row-reverse;
        margin-left: auto;
    }
    .whh {
        color: white;
    }
    @media only screen and (min-width: 450px) {
        .home-link-a {
            font-size: 4rem !important;
        }
        .close-bar{
            font-size: 4em;
        }
    }



    @media only screen and (min-width: 1100px) {
        .glob-links, ..glob-links * {
            all:initial;
        }
        .home-link {
            z-index: 6;
            width: 350px;
            margin: 0 auto;
        }
        .glob-links {
            position: absolute;
            background-color: #00000000;
            width: 90%;
            height: 90px;
            overflow:inherit;
        }
        .close-bar{
            display: none;
        }
        .llinks {
            display: flex;
            flex-flow: row nowrap;
            position: absolute;
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            align-content: stretch;
        }
        .link-set {
            display: flex;
            list-style: none;
            align-items: stretch;
            justify-content: flex-start;
            flex-flow: row nowrap;
            width: 21%;
            margin-top: 10px;
        }
        .link-set > li {
            flex-basis: 140px;
            margin: 0 10px;
            height: 51px;
            margin-top: 9px; 
            position: relative;   
        }
        .link-set a,.link-set a:visited {
            color: black;
        }
        .link-set a::before {
            background-color: black;
        }
        
    }

</style>
<style>
    .details {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        padding-left: 20px;
        background: url("{% static "USER/pic4.png" %}") fixed no-repeat center center;
        background-size: cover;
        overflow-y:scroll;
    }
    table {
        position: relative;
        top: 42px;
        border-collapse: separate;
        border-spacing: 0 1em;
        width: 80%;
        max-width: 1200px;
    }
</style>
{%endblock%}


{%block content%}
<header class="top-header">
    <nav class="header-content">
        <div class="home-link">
            <div class="ull">
                <a href="{% url 'Home:home'%}" class="home-link-a">LootMarket</a>
            </div>
        </div>
        <div class="glob-links">
            <span class="close-bar">&#9776;</span>
            <div class="llinks">
                <ul class="link-set side-left">
                    <li><a href="{% url 'Purchase:services'%}">Services</a></li>
                    <li><a href="{% url 'Product:listitemsearch'%}?qry=">Listings</a></li>
                    <li><a href="{% url 'USER:profile' %}">Profile</a></li>
                </ul>
                <ul class="link-set side-right">
                    {% if user.is_authenticated%}
                    <li><a href="{%url 'USER:changepassword'%}" class="bdd">Change password</a></li>
                    <li><a href="{% url 'USER:delete' %}" class="bdd">Delete account</a></li>
                    <li><a href="{% url 'USER:logout'%}">Logout</a></li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>
</header>
<!--  -->

<div class="details">
    {%if error%}
        <div class="error-block">
        {{error}}
        </div>
    {%endif%}
    <form method="post" action="">
        {% csrf_token %}
        <table>
        {{form.as_table}}
        <tr>
            <td></td>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
        </table>
    </form>
</div>


{%endblock%}




{% block bodyscript %}
<script>
$(function() {
    var bOpened = false;
    var bResize = false;
    var ww = $(window).width();

    $(".close-bar").click(function() {
        if (!bOpened) {
            bOpened = true;
            $(".glob-links").animate({
                width: "200px"
            }, 100, "linear");
            $(this).delay(25).animate({
                left: "160px"
            }, 100, "linear").html("&times;");
        } else {
            bOpened = false;
            $(".glob-links").animate({
                width: "0"
            }, 100, "linear");
            $(this).animate({
                left: "20px"
            }, 100, "linear").html("&#9776;");
        }
            $(this).toggleClass("whh");
    });
    $(window).resize(function() {
        var tw = $(window).width();
        if (!bResize && tw >= 1100 && ww < 1100) {
            bResize = true;
            $(".glob-links").stop(true, true).css("width", "90%");
            if (bOpened) {
                $(".close-bar").toggleClass("whh");
                $(".close-bar").css("left", "30px").html("&#9776;");
                bOpened = !bOpened;
            }
        } else if (bResize && tw < 1100 && ww >= 1100) {
            $(".glob-links").stop(true, true).css("width", "0");
            bResize = false;
        }
        ww = tw;
    });

});
</script>
{% endblock %}












