
<!-- <li><label for="id_subcategory_{{i.id}}"><input id="id_subcategory_{{i.id}}" name="subcategory" type="checkbox" value="{{i.id}}" /> {{i.subcategory_name}}</label></li> -->
<option value="" selected>---------</option>
{%for i in subcatlist %}
    <option value="{{i.id}}">{{i.subcategory_name}}</option>
{%endfor%}







